# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.wav
/DXLib_VC
/Debug
/Rmai_graph
/Rmai_snd
*.sln
*.filters
*.txt
*.vcxproj
*.suo
*.db
*.ipch
*.opendb
*.bmp